@model IEnumerable<CGM.Data.Model.Configuration>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfigurationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfigurationName">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigurationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigurationValue)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ConfigurationName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
