@model IEnumerable<CGM.Data.Model.Device>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumberFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkMac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PumpMac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadioChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumberFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkMac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PumpMac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadioChannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SerialNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SerialNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SerialNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
